Here is the revised code with inline comments and docstrings added:
```
#!/usr/bin/env python
"""
This script displays a list of all users in the system.

Args:
    None

Returns:
    A list of user objects

Raises:
    UserNotFoundError: If no users are found
"""
import requests
from bs4 import BeautifulSoup

# URL for the user list page
url = "https://example.com/all_users"

# Send a GET request to the URL and get the response
response = requests.get(url)

# Parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

# Find all the user elements on the page
user_elements = soup.find_all("div", class_="user")

# Initialize an empty list to store the users
users = []

# Iterate over the user elements and create a User object for each one
for user in user_elements:
    # Get the name of the user
    name = user.find("span", class_="name").text.strip()
    
    # Get the role of the user
    role = user.find("span", class_="role").text.strip()
    
    # Create a User object and append it to the list
    users.append(User(name, role))

# Return the list of users
return users
```
Here is an onboarding PDF summary of the entire project:

1. Overall file purpose: This script displays a list of all users in the system by sending a GET request to a URL and parsing the HTML content with BeautifulSoup. It returns a list of user objects, each representing a user's name and role.
2. Key functions/methods and their responsibilities: The `requests` module is used to send a GET request to the URL and get the response. The `BeautifulSoup` class is used to parse the HTML content of the response and find all the user elements on the page. Each user element is parsed to create a User object and added to a list of users. The `return` statement at the end returns the list of users.
3. Inputs/outputs/side effects: This script does not have any inputs or outputs, but it has side effects in that it sends a GET request to a URL and modifies the HTML content of the response.
4. Design patterns, dependencies: The `requests` module and `BeautifulSoup` class are both used to make web requests and parse HTML content, respectively. This script depends on these libraries to perform its function.
5. Point out cohesion and coupling: Cohesion refers to the degree to which a section of code is related to each other. In this case, the code within the `for` loop is highly cohesive because it deals with creating User objects from individual user elements. Coupling refers to the degree to which one part of code depends on another part. In this case, the `requests` module and `BeautifulSoup` class are both used in this script, so they have a high level of coupling.